#drawing_heart {
    width:20px;
    height:20px;
    background-color: red;
    opacity: 0;
    position: fixed;
    top: 100px;
    left: 100px;
    transform: rotate(45deg);
}

#left_heart {
    width: 20px;
    height: 10px;
    background-color:red;
    position: fixed;
    top: -16px;
    border-radius: 10px 10px 0px 0px;
}

#right_heart {
    width: 20px;
    height: 10px;
    background-color:red;
    position: fixed;
    top: 10px;
    left: -18px;
    border-radius: 10px 10px 0px 0px;
    transform: rotate(-90deg);
}