@charset 'utf-8';
h1{
	margin:10px 0;
}
a{
	color:black;
}
ul{
	padding:0;
	margin:0;
}
.side{
	border:1px black solid;
	width:40em;
	margin:0 auto;
}
.title{
	color:green;
	border-bottom:2px #AAA solid;
	margin:10px;
}
.matter{
	margin:6px 0 6px 4em;
}