@charset 'utf-8';
body{
	padding:4.5em;
	background-image:url("../images/ibgp.jpg");
}
.side{
	width:70em;
	margin:0 auto;
	
}
.outside{
	background-color:white;
	opacity:0.8;
	width:20em;
	margin:0 auto;
	text-align:center;
	padding:6px;
}
a{
	color:#222;
}
h1{
	text-align:center;
}