@charset 'utf-8';
body{
	padding:5em;
	background-image:url("../images/bgp.jpg");
}
.mid{
		
		margin:0 auto;
		width:40em;
	text-align:center;
}
.outside{
	
	width:20em;
	margin:4px auto;
	text-align:center;
}
a{
	color:#666;
}
h1{
	text-align:center;
}