<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner" style="opacity: 0.7">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ '/' | prepend: site.baseurl }}">
        <img src="{{ '/styles/images/logo.jpg' | prepend: site.baseurl }}">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">    
        <li>
          <a href="{{ '/categories/' | prepend: site.baseurl }}">大类分解</a>
        </li>
        <li>
          <a href="{{ '/tag' | prepend: site.baseurl }}">小类内聚</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="https://zzzxb.github.io/note"> <span id="busuanzi_container_site_pv">'s Note💖</span> </a>
        </li>
      </ul>
    </nav>
  </div>
</header>