<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ site.img | append: '/snake.ico' }}" type="image/x-icon" />
  <title>{{ page.title | append: ' - ' | append: site.title }}</title>

  <link rel="stylesheet" href="{{ site.css | append: '/default.min.css' }}">
  <script src="{{ site.js | append: '/highlight.min.js' }}"></script>
  <script> hljs.highlightAll(); </script>

  <script src="{{ site.js | append: '/jquery.min.js' }}"></script>
  <link href="{{ site.css | append: '/main.css' }}" rel="stylesheet"/>
  <script src="{{ site.js | append: '/main.js' }}"></script>
</head>