:root {
  --c0: #344a2c;
  --c2: #5671355e;
  --c3: #9ce203;
  --c4: #aeff00;
  --bgimg: url(https://www.umyun.com/agentfile/group2/M00/29/89/rBTsjWdtCxCAD0J9AALvcsWhSrU062.jpg);
  --arrow: url(https://www.umyun.com/agentfile/group2/M00/29/8A/rBTsjWdtDfmAYmqRAAAA12fEfg4060.png);
}

* {
  cursor: var(--arrow), auto;
  letter-spacing: 0.2px;
}

body {
  background-color: var(--c0);
  background-image: var(--bgimg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 90vh;
  padding: 0;
  margin: 1%;
}

#container {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 5px;
  background-color: var(--c2);
  margin: 0 auto;
  padding: 0 1%;
  width: 900px;
  list-style-type: none;
  overflow: hidden;
  backdrop-filter: blur(5px);
}

@media screen and (max-width: 950px){
  #container {
    width: 97%;
  } 
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: 
   0 -2px 10px rgba(255, 255, 255, 0.5),
   0 5px 10px black;
  transition: color 0.3s ease-in;
}

a[href] {
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

a:hover {
    color:rgb(228, 103, 14);
    transition: color 0.3s ease-out;
}

li>a {
  color: var(--c3);
  text-shadow: 0 0 10px black;
  transition: color 0.2s, text-shadow 0.2s ease-in;
}

li>a:hover {
  color: var(--c4);
  text-shadow: 
   0 -2px 10px rgba(255, 255, 255, 0.3),
   0 5px 5px black;
  transition: color 0.2s, text-shadow 0.2s ease-out;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 
   0 0px 10px rgba(255, 255, 255, 0.65),
   0 2px 5px black;
}

.content {
  background-color: #eeeeed80;
  border-radius: 5px;
  padding: 10px 10px;
  margin: 10px auto;
}

.no_select, h1, h2, h3, h4, h5, h6 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color_bg {
  text-shadow: 
   0 -2px 10px rgba(255, 255, 255, 1),
   0 5px 10px black;
}

code {
  /* border: 1px solid white; */
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  color: rgb(218, 2, 2);
  margin: 0 2px;
  padding: 2px 3px;
  /* text-shadow: -5px -3px 8px rgba(0, 0, 0, 0.3); */
}

.hljs{
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
}