<!DOCTYPE html>
<html>
  {% include head.html %}
  <style>
    li {
      margin: 5px 0px;
    }
  </style>
  <body>
    <div id="container" >
    <iframe class="no_select" style="position: absolute; right: -254px;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=30780440&auto=1&height=66"></iframe>
      <h1 class="no_select">{{ site.title }}</h1>
      <h4 class="no_select" style="color: white;">
        <a href="{{ site.about }}">{{ site.description }}</a>
      </h4>
      {% include header.html %}
    </div>
    {% include footer.html %}
  </body>
</html>