<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div id="container">
    <iframe class="no_select" style="position: absolute; right: -254px;" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=30780440&auto=1&height=66"></iframe>
      <h1 class="no_select" style="color: white;">
        <a href="/">{{ site.title }}</a>
      </h1>
      <h4 class="no_select" >{{ site.description }}</h4>
      <div class="content">
        <h2>{{ page.title }}</h2>
          {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>